<!--home.html-->

<div class="row">
    <div class="col-md-12 home">
   	    <h1 class="display-2"> Select your area : </h1><br><br>
	        <a class="btn btn-primary" href="/products/Paris" role="button">Paris</a><br><br>
	        <a class="btn btn-primary" href="/products/Marseille" role="button">Marseille</a><br><br>
	        <a class="btn btn-primary" href="/products/Montreal" role="button">Montreal</a><br><br>
	        <a class="btn btn-primary" href="/products/Berlin" role="button">Berlin</a><br><br>
	        <a class="btn btn-primary" href="/products/Rome" role="button">Rome</a><br><br>
	</div>
</div>

<!--/home.html-->
