<div class="container" ng-controller="adminController">


    <div class="row">
      <h3>Users</h3><br><br>
      <table class="table">
		  <thead class="thead-default">
		    <tr>
		      <th></th>
		      <th>Username</th>
		      <th>Name</th>
		      <th>Email</th>
		      <th>Privilege</th>
		      <th>Change Status</th>
		      <th>Admin Privilege</th>

		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="user in users">
		      <th></th>
		      <td>{{user.username}}</td>
		      <td>{{user.name}}</td>
		      <td>{{user.email}}</td>
		      <td>{{user.privilege}}</td>
		      <td><button type="button" ng-hide="user.blocked == true"  ng-click="blockAccount(user._id)" class="btn btn-danger btn-sm">Block</button> 
		      	  <button type="button" ng-hide="user.blocked == false" ng-click="unblockAccount(user._id)" class="btn btn-success btn-sm">Unblock</button> </td>
		      
		      <td><button type="button" ng-hide="user.privilege == 'admin' " ng-click="grantAdmin(user._id)" class="btn btn-primary btn-sm">Grant</button> 
		          <button type="button" ng-hide="user.privilege == 'user' " ng-click="revokeAdmin(user._id)" class="btn btn-secondary btn-sm">Revoke</button></td>

		    </tr>
		  </tbody>
		</table>
    </div>

</div>